.u-header {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.u-link {
    display: inline-block;
}

.u-footer {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

.p-footer {
    color: #FFFFFF;
}